body {
    font-family: 'Arial';
    background-image: url('LOGO SFOND.png');
    background-repeat: repeat;
    background-size: 50px 50px;
    background-color: #597f59;
    color: #333;
    margin: 50;
    padding: 50;
}

.header {
    text-align: center;
    color: white;
    padding: 0.2rem;
}

.logo {
    width: 200px;
    height: auto;
    margin: 25px;
    margin-bottom: 0;
}

.header h1 {
    font-size: 5rem;
    text-shadow: 5px 5px #3a6030;
}

.header p {
    font-size: 1.2rem;
}

.section {
    margin: 2rem;
    padding: 1rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 2px 2px #3a6030;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.product-card {
    background-color: white;
    border: 3px solid #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px #243120;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px #243120;
}

.product-image {
    max-width: 100%;
    border-radius: 10px;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    color: #ff4500;
    margin-top: 0.5rem;
}

.old-price {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #cf7b5d;
}

.footer {
    text-align: center;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}

hr.separator {
    border: 1;
    border-top: 5px solid #bfd4bc;
    margin: 2 2;
}



#bundle-offerte h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 2px 2px #243120;
    margin-bottom: 2rem;
}

#bundle-offerte .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

#bundle-offerte .product-card {
    border-radius: 15px;
    box-shadow: 4px 4px #a0e9a0;
    text-align: center;
    padding: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

#bundle-offerte .product-card:hover {
    transition: transform 0.3s, box-shadow 0.3s;
}

#bundle-offerte .product-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

#bundle-offerte .price {
    font-size: 2rem;
    font-weight: bold;
    color: #ff4500;
    margin-top: 0.5rem;
}

#bundle-offerte .old-price {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #cf7b5d;
}

#bundle-offerte .product-card h3 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 1rem;
}

#bundle-offerte .price, #bundle-offerte .old-price {
    font-size: 1.8rem;
    color: #ff4500;
    font-weight: bold;
}

#bundle-offerte .old-price {
    font-size: 1.6rem;
    text-decoration: line-through;
    color: #b2a8a2;
}
